
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #699C60;
	font-family: 'Open Sans', sans-serif;
	color: #EADBC0;
	letter-spacing: 0.08em;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

/*Navbar*/

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #699C60;
	color: #EADBC0;
	align-items: center;
	letter-spacing: 0.2em;
	position: sticky;
	top: 0;
}

.nav-links {
	justify-content: flex-end;
	padding: 10px;
}

.nav-links a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 100;
}

.nav-links a:hover {
	color: #5F689B;
}

/*Project page*/

.project-page {
    align-items: center;
    background-color: #72A369;
    border-radius: 70% 50% 70% 80% / 30% 30% 70% 70%;
    color: #18112E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 60vh;
}

.home a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.75rem;
	font-weight: 100;
}

.about-project {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.image-container {
	position: relative;
	width: 400px;
	overflow: hidden;
}

img {
	width: 80%;
	height: auto;
	border-radius: 10%;
}

.about-project-text {
	max-width: 600px;
}

.about-project h2 {
	font-size: 2rem;
	font-weight: 200;
    margin: 0;
}

.about-project h4 {
    font-weight: 200;
    font-style: italic;
}

.about-project p {
	font-size: 16px;
	line-height: 1.8;
	font-weight: 200;
}

.project-container h4, .project-container a {
    display: inline-block;
}

a {
	text-decoration: none;
	color: #EADBC0;
	font-weight: 400;
}

a:hover {
	color: #5F689B;
}

.project-link-container {
	display: flex;
	justify-content: center;
}

/* Media queries */

@media screen and (max-width: 1080px) {
	.image-container {
		display: none;
	}
}

@media screen and (max-width: 690px) {
	.home a {
		display: none;
	}
	.nav-links a {
		display: none;
	}
	.about-project {
		display: flex;
		margin: 35px;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
    .project-page {
    background-color: #699C60;
    }
}

