
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #699C60;
	font-family: 'Open Sans', sans-serif;
	color: #EADBC0;
	letter-spacing: 0.08em;
}

/*Navbar*/

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #699C60;
	color: #EADBC0;
	align-items: center;
	letter-spacing: 0.2em;
	position: sticky;
	top: 0;
}

.nav-links {
	justify-content: flex-end;
	padding: 10px;
}

.nav-links a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 100;
}

.nav-links a:hover {
	color: #5F689B;
}

/*Landing page*/
.home a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.75rem;
	font-weight: 100;
}

.about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.image-container {
	position: relative;
	width: 300px;
	overflow: hidden;
}

img {
	width: 80%;
	height: auto;
	border-radius: 10%;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border:dashed 1px #41403E;
}

.about-me-text {
	max-width: 600px;
}

.about-me h1 {
	font-size: 2rem;
	font-weight: 200;
}

.about-me p {
	font-size: 18px;
	line-height: 2;
	font-weight: 200;
}

/*Social icons*/
.social-icon-container {
	position: fixed;
	bottom: 0;
	right: 0;
}

i {
	font-size: 30px;
	padding: 25px;
	color: #EADBC0;
}

/*Portfolio page*/
.portfolio {
	display: flex;
}

.portfolio-header {
	display: flex;
	flex-flow: column;
	align-items: center;
	max-width: 600px;
	margin: auto;
}

.portfolio-header h1 {
	font-size: 3rem;
	font-weight: 200;
}

.portfolio-header p {
	font-size: 20px;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: #EADBC0;
	font-weight: 400;
}

a:hover {
	color: #5F689B;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 40px;
	max-width: 600px;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	margin: 20px;
	background-color: #72A369;
}

.card h2 {
	font-size: 20px;
	font-weight: 200;
}

.card p {
	font-size: 18px;
	font-weight: 100;
}

.project-link-container {
	display: flex;
	justify-content: center;
}

.mobile-text {
	display: none;
}

@media screen and (max-width: 1160px) {
	.card {
		max-width: 700px;
	}
}

@media screen and (max-width: 980px) {
	.image-container {
		display: none;
	}
}

@media screen and (max-width: 690px) {
	.home a {
		display: none;
	}
	.nav-links a {
		display: none;
	}
	.about-me {
		display: flex;
		margin: 35px;
		justify-content: center;
		align-items: center;
		height: 70vh;
	}
	.mobile-text {
		display: block;
		font-size: 18px;
	}
	.mobile-text a {
		text-decoration: underline;
		font-weight: 400;
		color: #EADBC0;
	}
	.about-me p {
		font-size: 18px;
	}
	.social-icon-container {
		position: static;
		display: flex;
		justify-content: space-evenly;
	}
	.portfolio-container {
		margin: 0 40px 0 40px;
	}
	.portfolio-header {
		margin: 0 40px 30px 40px;
	}
	.portfolio-header p {
		font-size: 16px;
		margin: 0 45px 0 45px;
	}
	.cards {
		padding: 0;
		margin: 0;
	}
	.card {
		padding: 30px;
		border: #699C60;
		background-color: #72A369;
	}
	.card p {
		font-size: 16px;
	}
}

@media screen and (max-width: 420px) {
	.home a {
		display: none;
	}
	.nav-links a {
		display: none;
	}
	.about-me {
		display: flex;
		margin: 35px;
		height: 70vh;
	}
	.mobile-text {
		display: block;
		font-size: 16px;
	}
	.mobile-text a {
		text-decoration: underline;
		font-weight: 400;
		color: #EADBC0;
	}
	.about-me p {
		font-size: 16px;
	}
	.social-icon-container {
		position: static;
		display: flex;
		justify-content: space-around;
	}
	.cards {
		padding: 35px 0 35px 0;
	}
	.card {
		border: #699C60;
		background-color: #699C60;
		padding: 0;
		margin: 20px 0 20px 0;
		min-width: 300px;
		display: flex;
		flex-direction: column;
	}
	.card h2 {
		margin: 0;
	}
	.card p {
		height: auto;
		padding: 0;
	}
	.portfolio-header p {
		margin: 0;
	}
	.portfolio-header {
		align-items: flex-start;
		margin: 0 40px 0 40px;
	}
}

@media screen and (max-width: 320px) {
	.about-me {
		display: flex;
		margin: 35px;
		justify-content: center;
		align-items: center;
		height: 90vh;
	}
}