
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #7FA25A;
	font-family: 'Open Sans', sans-serif;
	color: #EADBC0;
}

/* Navigation Bar */

nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #7FA25A;
	color: #EADBC0;
	align-items: center;
	width: 100%;
	position: fixed;
}

.home {
	justify-content: flex-start;
	text-decoration: none;
	color: white;
}

.home a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 700;
}

.nav-links-large {
	justify-content: flex-end;
	padding: 10px;
}

.nav-links-large a:hover {
	color: #ABC17A;
}

.nav-links-large a {
	text-decoration: none;
	color: #EADBC0;
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 400;
}

.nav-links-small {
	display: none;
	
}

/* Landing page */

.landing-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-left: 25px;
}

img {
	border-radius: 50%;
	border: 2px solid #ABC17A;
}


.welcome-text {
	margin-right: 80px;
	max-width: 600px;
}

h1 {
	font-size: 2rem;
	margin-left: 20px;
}

p {
	font-size: 1.2rem;
	line-height: 2;
	margin-left: 40px;
}

.mobile-p {
	display: none;
	line-height: 2;
	margin left: 40px;
}

/* Smaller-screen only paragraph */

.mobile-p a {
	text-decoration: none;
	color: #9B3738;
	
}

.mobile-p a:hover {
	color: #ABC17A;
}

/* Social icons */

i {
	font-size: 30px;
	padding: 25px;
	color: #EADBC0;
}

.social-icons {
	right: 0;
}

/* About page */

.about {
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
	max-width: 700px;
	
}

.about-container p {
	width: 100%;
	font-size: 16px;
	margin-left: 0;
}

/* Media query: smaller screens */

@media screen and (max-width: 900px) {
	.nav-links-large {
		display: none;
	}
	
	.nav-links-small {
		display: flex;
		text-decoration: none;
		color: #EADBC0;
		padding: 20px;
		font-size: 1.5rem;
		font-weight: 400;
	}
	img {
		display: none;
	}
	
	.mobile-p {
		display: block;
	}
	
	.landing-page h1 {
		margin-left: 40px;
	}
	.social-icons {
		position: fixed;
		bottom: 0;
		right: 0;
	}
	.contact h2 {
		text-align: center;
	}

}

/* Contact footer */

.contact {
	background: #ABC17A;
	padding: 50px;
	display: flex;
	justify-content: space-around;
}

